body {
    background: 
        url('../images/top-bg.svg') top / 100% auto no-repeat,
        url('../images/bg1.svg') center/cover repeat-y;
    height: 100vh;
    width: 99vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}