[class$="Button"] {
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

[class$="Button"]:hover {
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
  transform: scale(1.05);
}

[class$="Button"]:active {
  transform: scale(0.95);
}

[class$="Button"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    filter: 
        grayscale(100%) 
        brightness(70%) 
        drop-shadow(0 0 2px rgba(0,0,0,0.2));
    transform: none !important;
    pointer-events: none;
}


[class$="Button"]:disabled:hover,
[class$="Button"]:disabled:active {
    animation: none;
    transform: none;
}


.addButton {
    background-image: url('../images/addbutton.png');
    color: #fff;
    padding: 10px 20px;
    min-width: 192px;
    min-height: 50px;
    font-size: larger;
}

.createButton {
    background-image: url('../images/createbutton.png');
    min-width: 20vw;
    min-height: 10vw;
    margin-right: 35vw;
}

.returnButton {
    background-image: url('../images/returnbutton.png');
    color: #fff;
    padding: 10px 20px;
    min-width: 192px;
    min-height: 50px;
    font-size: larger;
}

.updateButton {
    background-image: url('../images/updatebutton.svg'); 
    min-width: 4vw;
    min-height: 4vw;
}

.deleteButton {
    background-image: url('../images/deletebutton.svg');
    min-width: 4vw;
    min-height: 4vw;
}

.confirmButton {
    background-image: url('../images/confirmbutton.svg');
    min-width: 4vw;
    min-height: 4vw;
}

.cancelButton {
    background-image: url('../images/cancelbutton.svg');
    min-width: 4vw;
    min-height: 4vw;
}

.backButton {
    background-image: url('../images/backbutton.svg');
    position: fixed;
    bottom: 20px;
    left: 20px; 
    width: 6vw;
    height: 6vw;
}

.infoButton {
    background-image: url('../images/infobutton.svg'); 
    width: 4vw;
    height: 4vw;
    margin-right: 3vw;
}

.loginButton {
    background-image: url('../images/loginbutton.svg'); 
    width: 4vw;
    height: 4vw;
}

.signupButton {
    background-image: url('../images/signupbutton.svg');
    width: 4vw;
    height: 4vw;
}

.signoutButton {
    background-image: url('../images/exitbutton.svg');
    width: 4vw;
    height: 4vw;
}